body{
  direction: rtl;
}

.top {
  margin-top: 10px;
}
.bottom {
  margin-top: 10px;
}
.left{
  margin-left: 10px;
}
.right{
  margin-right: 10px;
}

.flex{
  display: flex;
}

.block{
  display: block;
}

.full-padding {
  padding: 5px;
}
.border-soft{
  border-radius: 10px;
}

